.modal-backdrop {
    z-index: 1030;
}

#wrap {
    .btn {
        border: none;
        font-weight: 800;
        font-size: 1.2rem;
    }

    .navbar-nav {
        & > li {
            & > .dropdown-menu {
                margin-top: 0;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            }
        }
    }

    #splash .container .page-header {
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

    #body {
        font-size: 1.7rem;
    }

    .btn-toolbar:after, .btn-toolbar:before {
        content: none;
    }

    textarea.md-input {
        padding: 2rem;
    }
}
